// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-text = #d4d4d4
color-link = #d6d6d6
color-background = #121417
color-main-background = #282C34
color-code-background = #1e1e1e
color-border = #333c43
color-header = #ffffff

color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
fonts = -apple-system, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 16px
line-height = 1.6em
line-height-title = 1.1em

// Header
logo-size = 40px
subtitle-size = 16px
banner-height = 300px
banner-url = "images/banner.jpg"

// Layout
block-margin = 50px
article-padding = 56px
mobile-article-padding = 24px
mobile-nav-width = 280px

border-radius = 4px


// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
