<footer id="footer">
  <div class="wrap">
    <div id="footer-info">
      <div>
        Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
      </div>
      <div>
        <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>, Designed by <a href="https://github.com/samnyan/hexo-theme-tiny-dark" target="_blank">Sam Nya</a>
      </div>
    </div>
  </div>
</footer>
