.widget-wrap
  margin-bottom: 40px
  padding-bottom: 40px
  line-height: 1.6
  font-size: 14px

.widget-title
  margin: 0 0 13px
  font-size: 16px

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  ul, ol
    list-style: none
    margin: 0
    li
      border-bottom: solid 1px color-border
      padding: 1em 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block
